body {
    background: #0D0300;
    color: #6C712E;
}

a, a:link, a:hover, a:visited, a:active {
    color: #6C712E;
    text-decoration: none;
}

.nav ul li a:hover, .nav ul li a:visited, .nav ul li a:active {
    color: #6C712E;
    text-decoration: none;
}

.nav ul li a:hover {
    background: #242305;
}

#logo h1 {
    color: #6C712E;
}

#logo h6, #logo hr {
    border-color: #242305;
    color: #6C712E;
}
.wrap {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}
